<section class="container">
  <!-- * #### category slider -->

  <section>
    <div class="row g-0">
      <div class="col-md-10 offset-md-1">
        <owl-carousel-o [options]="catlisder">
          <ng-container *ngFor="let item of categoryData">
            <ng-template carouselSlide>
              <img
                [src]="item.image"
                [alt]="item.name"
                class="img w-100 rounded-2"
              />
              <h3 class="fw-bold">{{ item.name }}</h3>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </section>

  <div class="row g-4">
    <div class="d-flex justify-content-center py-3">
      <input
        type="search"
        class="form-control w-75"
        placeholder="Search....."
        [(ngModel)]="serchTerm"
      />
    </div>
    <div
      class="col-md-4"
      *ngFor="let product of productData | search : serchTerm"
    >
      <div class="product p-5 h-100 position-relative cursor-pointer">
        <div [routerLink]="['/details', product._id]">
          <p class="h5 text-main text-center">{{ product.category.name }}</p>
          <img [src]="product.imageCover" class="w-100" [alt]="product.title" />
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="h5 fw-bold">
            {{ product.title.split(" ").slice(0, 2).join(" ") }}
          </h3>
          <ul class="d-flex p-0">
            <h3 class="fw-bold text-main">
              {{ product.price }} <span class="fw-bold">EGP</span>
            </h3>
          </ul>
        </div>
        <div class="info">
          <i
            class="fa-solid fa-cart-shopping fa-2x"
            style="color: #606366"
            (click)="addCart(product._id)"
          ></i>
          <i
            class="fa-solid fa-heart fa-2x my-5"
            [style.color]="wishlistData.includes(product._id) ? 'red' : 'black'"
            (click)="addOrRemove(product._id)"
          ></i>
          <i
            class="fa-solid fa-magnifying-glass fa-xl"
            style="color: #020305"
            [routerLink]="['/details', product._id]"
          ></i>
        </div>
      </div>
    </div>
  </div>
</section>
