<section  class="bg-main-light w-100">
  <div class="container py-5">
    <div>
      <h5>Get th FreashCart app</h5>
      <p class="opacity-75">
        We will send you a link , open it on your phone to download the app
      </p>
    </div>
    <div class="d-flex">
      <input type="text" class="form-control w-75 mx-3" />
      <button class="btn-main">share App Link</button>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <p >Payment Partners</p>
      </div>
    </div>
  </div>
</section>
